<div class="container">
  <h1>Price Comparison <span id="query"></span></h1>

  <form class="form-inline">
    <div class="form-group search-field">
      <input class="form-control" type="text" id="searchField" placeholder="Enter a snack!">
    </div>
    <input class="btn btn-primary" id="searchSubmit" type="button" name="submit" value="Search">
  </form>


  <table class="price_comparison_table table table-striped">
     <thead>
      <tr>
        <th>Image</th>
        <th>UPC</th>
        <th>Name</th>
        <th>Walmart Unit Price</th>
        <th>Amazon Unit Price</th>
      </tr>
    </thead>
    <div id="loader"></div>
    <tbody id="table-body"></tbody>
  </table>

</div>
