<h1>Price Comparison</h1>
<table class="price_comparison_table">
   <thead>
    <tr>
      <th>Item Id</th>
      <th>Item Price</th>
    </tr>
  </thead>

  <% @walmart_products.each do |walmart_product| %>
    <tr>
      <td><%= walmart_product.id %></td>
      <td><%= walmart_product.price %></td>
    </tr>
  <% end %>
</table>
