---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJ3BXPLLMU6Z2S4QA&AssociateTag=cubbystuffers-20&IdType=UPC&ItemId=041570109489&Operation=ItemLookup&ResponseGroup=Large&SearchIndex=All&Service=AWSECommerceService&Signature=sGre72rcnIZ%2BP5Nw//PbEm4vFphT5LAvwr6IUfEfkg8=&Timestamp=2016-07-31T22:12:57Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Faraday v0.9.2"></Header></HTTPHeaders><RequestId>648dbdde-5b6a-4c2c-a20a-f850cc0d0bac</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJ3BXPLLMU6Z2S4QA"></Argument><Argument Name="AssociateTag"
        Value="cubbystuffers-20"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="ItemId" Value="041570109489"></Argument><Argument Name="Operation" Value="ItemLookup"></Argument><Argument
        Name="ResponseGroup" Value="Large"></Argument><Argument Name="SearchIndex"
        Value="All"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Signature" Value="sGre72rcnIZ+P5Nw//PbEm4vFphT5LAvwr6IUfEfkg8="></Argument><Argument
        Name="Timestamp" Value="2016-07-31T22:12:57Z"></Argument></Arguments><RequestProcessingTime>0.0740189170000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>041570109489</ItemId><ResponseGroup>Large</ResponseGroup><SearchIndex>All</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B00DY8DBX8</ASIN><DetailPageURL>http://www.amazon.com/Blue-Diamond-Almonds-Salted-Caramel/dp/B00DY8DBX8%3FSubscriptionId%3DAKIAJ3BXPLLMU6Z2S4QA%26tag%3Dcubbystuffers-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00DY8DBX8</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Blue-Diamond-Almonds-Salted-Caramel/dp/tech-data/B00DY8DBX8%3FSubscriptionId%3DAKIAJ3BXPLLMU6Z2S4QA%26tag%3Dcubbystuffers-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00DY8DBX8</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB00DY8DBX8%26SubscriptionId%3DAKIAJ3BXPLLMU6Z2S4QA%26tag%3Dcubbystuffers-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D3860[...]
