<h1 class='container text-center'>User Dashboard</h1><br>

<div class="container text-center">
  <p><% if current_user.cubby %>
      Your cubby is currently located at: <%= current_user.cubby.display_location %>
    <% else %>
      You still need a cubby! <%= link_to "Sign up now!", new_user_cubby_path(current_user) %>
    <% end %>
  <p><%= link_to "Your Subscriptions", subscriptions_path, class: "btn btn-primary" %></p>
</div>
